<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
</head>
<body>
   <button type="button" onclick="login()">Sign in</button>
   <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
   <script src="local/login.js"></script>


</body>
</html>